= error_messages_for :project

= simple_form_for([:dashboard, current_user, @project], :html => { :multipart => true }) do |f|
  = f.input :name, :input_html => { :autocomplete => 'off' }
  = f.input :domain

  .buttons
    = f.submit f.object.new_record? ? "Create" : "Update"