#header
  %h1#logo
    = link_to "Simple SEO", root_path
  %ul#base_nav
    - if logged_in?
      %li= link_to 'Dashboard',dashboard_path
      %li= '|'
      %li= link_to "Logout", logout_user_session_path
    - else
      %li= link_to "Sign up", new_user_path
      %li= '|'
      %li= link_to "Login", new_user_session_path
  .clear
  %ul#site_nav
    - if logged_in?
      = render :partial => admin? ? '/admin/shared/header' : '/dashboard/shared/header'
    - else
      %li= link_to "Home", root_path
  .clear